body{
  margin: 0
}

.post {
  border-radius: 3px;
  border: black solid 1px;
  font-size: auto;
  color: white;
  background-color: #7d8491;
  padding: 0.3%;
  margin-left: 5%;
  width: 90%;
  display: grid;
  text-align: center;
}
