body {
  margin: 0;
}

.footerText {
  text-align: center;
}

.headerAllComponenets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
}

.entry {
  display: grid;
  margin-left: 2%;
}

.headerText {
  padding: 1%;
  display: grid;
  margin-left: 2%;
  text-align: center;
  font-size: x-large;
}
