body {
  margin: 0;
  background-color: #ffbdde;
}

.helpMessage {
  text-align: center;
}

.helpOptions {
  display: flex;
  flex-direction: column;
}

.helpOption {
  padding: 2%;
  margin-top: 2.2%;
}
